@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  border: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

:root {
  --box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
  --border: 0.1rem solid #000;
  --grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  --bg-primary-color: #012546;
  --bg-blue: #02294f;
}

.header{
    position: relative;
    background: url(../images/background01.jpg) top center / cover no-repeat;
    height: 300px;
    text-align: center;
}

.header .top{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 16.8vw rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    color: rgba(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
}

.header .user h1{
    margin-top: 5rem;
    color: rgba(255, 255, 255);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.header .user p{
    margin-top: .5rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255);
    font-weight: 700;
    
}

.header .avt{
    position: absolute;
    width: 20rem;
    height: 20rem;
    margin-left: 44%;
    margin-right: 50%;
    margin-top: 2rem;
    
}

.header .avt img{
    width: 100%;
    height: 100%;border: .5rem solid #fff;
    border-radius: 50%;
}

.body{
    background-color: #000;
    height: 55rem;
}

.space{
    border-top: .5rem solid #fff;
}

.body .profile{
    margin-top: 10rem;
    color: #fff;
    margin: 10rem 10rem 0rem 10rem;
}

.body .profile .profile_user{
    margin-bottom: 7rem;
    font-size: 2rem;
    padding: 1.5rem;
    cursor: pointer;
}

.body .profile .profile_user:hover{
    color: #6b4bdd;
    background-color: #c1c0c3;
    border-radius: 2.5rem;
}

.body .profile .profile_user:hover .space_2{
    border-top: .1rem solid #6b4bdd;
}

.body .profile .profile_user .space_2{
    border-top: .1rem solid #fff;
}

.login-account {
    position: relative;
}

.login-form {
    position: absolute;
    top: 0;
    left: 40%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    width: 40rem;
    padding: 2rem;
    text-align: center;
    transform: scaleY(0);
    border-radius: 2.5rem;    
  }
  
  .login-form.active {
    transform: scaleY(1);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    z-index: 1000;
  }

  .login-form h2{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    border-bottom:.1rem solid #02294f;
    margin: 0rem 6rem 1rem 6rem;
  }

  .login-form .box_profile .name{
    font-size: 1.5rem;
    padding: 1rem;
  }

  .login-form .box_profile .class{
    font-size: 1.5rem;
    padding: 1rem;
  }

  .login-form .box_profile .phone{
    font-size: 1.5rem;
    padding: 1rem;
  }

  .login-form .box_profile .city{
    font-size: 1.5rem;
    padding: 1rem;
  }

  .login-form .box_profile .code{
    font-size: 1.5rem;
    padding: 1rem;
  }

  .login-form .box_profile .email{
    font-size: 1.5rem;
    padding: 1rem;
  }

  .ket_qua {
    position: absolute;
    top: 0;
    left: 40%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    width: 40rem;
    padding: 2rem;
    text-align: center;
    transform: scaleY(0);
    border-radius: 2.5rem;    
  }
  
  .ket_qua.active {
    transform: scaleY(1);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    z-index: 1000;
  }

  .ket_qua h2{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom:.1rem solid #02294f;
   margin: 0rem 7rem 1rem 7rem;
}

  .ket_qua .box_profile .name{
    font-size: 1.5rem;
    padding: 1rem;
  }

  .ket_qua .box_profile .class{
    font-size: 1.5rem;
    padding: 1rem;
  }

  .ket_qua .box_profile .phone{
    font-size: 1.5rem;
    padding: 1rem;
  }

  .ket_qua .box_profile .city{
    font-size: 1.5rem;
    padding: 1rem;
  }

  .sp_canhan {
    position: absolute;
    top: 0;
    left: 40%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    width: 40rem;
    padding: 2rem;
    text-align: center;
    transform: scaleY(0);
    border-radius: 2.5rem;    
  }
  
  .sp_canhan.active {
    transform: scaleY(1);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    z-index: 1000;
  }

  .sp_canhan h2{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom:.1rem solid #02294f;
   margin: 0rem 7rem 1rem 7rem;
}

  .sp_canhan .box_profile a{
    color: #f5bf23;
  }

  .sp_canhan .box_profile .name { 
    font-size: 1.5rem;
    padding: 1rem;
  }

  .sp_canhan .box_profile .phone:hover,
  .sp_canhan .box_profile .class:hover,
  .sp_canhan .box_profile .name:hover {
    background-color: #012546;
    cursor: pointer;
    border-radius: 2.5rem;
  } 

  .sp_canhan .box_profile .class{
    font-size: 1.5rem;    
    padding: 1rem;
  }

  .sp_canhan .box_profile .phone{
    font-size: 1.5rem;    
    padding: 1rem;
  }

  .thu_vien {
    position: absolute;
    top: 0;
    left: 20%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    width: 102rem;
    height: 69rem;
    padding: 2rem 2.5rem 2rem 2rem;
    text-align: center;
    transform: scaleY(0);
    border-radius: 2.5rem;    
  }
  
  .thu_vien.active {
    transform: scaleY(1);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    z-index: 1000;
  }

  .thu_vien h2{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .thu_vien .box_profile{
    display: grid;
    grid-template-columns: 24rem 24rem 24rem 24rem;
    grid-template-rows: 20rem 20rem 20rem;
    gap: .5rem;

  }

  .thu_vien .box_profile .img_1{
    grid-column: 1/2;
    grid-row: 1/4;
  }

  .thu_vien .box_profile .img_2{
    grid-column: 2/4;
    grid-row: 1/2;
  }

  .thu_vien .box_profile .img_3{
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .thu_vien .box_profile .img_4{
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .thu_vien .box_profile .img_5{
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .thu_vien .box_profile .img_6{
    grid-column: 4/5;
    grid-row: 2/4;
  }

  .thu_vien .box_profile .img_7{
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .thu_vien .box_profile .img_8{
    grid-column: 3/4;
    grid-row: 3/4;
  }
